.S_sanyibao .C_shouye {
  background: #f3f5f7 !important; }

.S_sanyibao .header {
  background: white;
  position: static; }
  .S_sanyibao .header .bar .title {
    color: black !important; }
  .S_sanyibao .header .top-left {
    margin-right: 0.625rem;
    border: none;
    background: url(../img/icons/home_kefu_black_icon.png) no-repeat center center;
    background-size: 130%; }

.S_sanyibao .lunboStyle {
  height: 12.5rem;
  background: white; }
  .S_sanyibao .lunboStyle .box {
    width: 100%;
    height: 12.5rem; }
    .S_sanyibao .lunboStyle .box img {
      width: 100%;
      height: 12.5rem; }

.S_sanyibao .nav {
  background: white;
  width: 100%;
  height: 5.458333rem;
  display: flex; }
  .S_sanyibao .nav a {
    display: block;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 0.791666rem;
    color: #868686; }
    .S_sanyibao .nav a i {
      display: block;
      height: 4.166666rem; }
    .S_sanyibao .nav a:nth-child(1) i {
      background: url(../img/icons/home_introduction_icon.png) no-repeat center bottom;
      background-size: 60%; }
    .S_sanyibao .nav a:nth-child(2) i {
      background: url(../img/icons/home_safety_icon.png) no-repeat center bottom;
      background-size: 60%; }
    .S_sanyibao .nav a:nth-child(3) i {
      background: url(../img/icons/home_hotacti_icon.png) no-repeat center bottom;
      background-size: 60%; }
    .S_sanyibao .nav a:nth-child(4) i {
      background: url(../img/icons/home_guide_icon.png) no-repeat center bottom;
      background-size: 60%; }

.S_sanyibao .yaoqing {
  background: white;
  width: 100%;
  height: 4.416666rem; }
  .S_sanyibao .yaoqing a {
    display: block;
    width: 100%;
    height: 4.416666rem;
    background: url(../img/icons/home_ad_default_icon.png) no-repeat center center;
    background-size: 100%; }

.S_sanyibao .news {
  width: 100%;
  height: 2.604166rem;
  padding-left: 3.083333rem;
  background: #FFFFFF url(../img/icons/home_notice_icon.png) no-repeat 5% center;
  background-size: 5%; }
  .S_sanyibao .news p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .S_sanyibao .news p a {
      color: #000000;
      padding: 0;
      line-height: 2.604166rem;
      box-sizing: border-box;
      font-size: 0.791666rem; }

.S_sanyibao .newhand {
  margin-top: 0.625rem;
  width: 100%;
  height: 12.5rem;
  background: #fff url(../img/icons/home_xinshou_right.png) center center;
  background-size: 80%;
  padding: 0 21.77%;
  text-align: center; }
  .S_sanyibao .newhand #newbar {
    position: absolute;
    left: 8.45rem;
    width: 8.1875rem;
    height: 2.25rem;
    background: url(../img/icons/home_novice_exclusive_icon.png) no-repeat center center;
    background-size: 100%; }
  .S_sanyibao .newhand .percent {
    height: 5.125rem;
    width: 100%;
    padding-top: 1.966666rem;
    text-align: center; }
    .S_sanyibao .newhand .percent h1 {
      color: #fc1320; }
      .S_sanyibao .newhand .percent h1 span {
        font-size: 0.833333rem; }
  .S_sanyibao .newhand p {
    height: 1.458333rem;
    line-height: 1.458333rem;
    font-size: 0.833333rem; }
  .S_sanyibao .newhand .time {
    margin-bottom: 1.166666rem; }
    .S_sanyibao .newhand .time span:nth-child(1) {
      font-size: 0.6875rem;
      padding: 0.208333rem 0;
      padding-right: 0.833333rem;
      border-right: 1px solid #ccc; }
    .S_sanyibao .newhand .time span:nth-child(2) {
      font-size: 0.6875rem;
      padding: 0.208333rem 0;
      padding-left: 0.833333rem; }
  .S_sanyibao .newhand .stfx {
    display: block;
    width: 12.6875rem;
    height: 2.770833rem;
    background: url(../img/icons/home_xinshou_icon.png) no-repeat center center;
    background-size: 100%;
    margin-bottom: 0.625rem; }

.S_sanyibao .xiangmu {
  width: 100%; }
  .S_sanyibao .xiangmu .xiangmu_head {
    display: flex;
    width: 100%;
    height: 2.75rem;
    display: flex;
    background: white; }
    .S_sanyibao .xiangmu .xiangmu_head .left {
      width: 50%;
      padding-left: 3.3125rem;
      height: 100%;
      line-height: 2.75rem;
      background: url(../img/icons/home_recommend_project_icon.png) no-repeat 5% center;
      background-size: 20%; }
    .S_sanyibao .xiangmu .xiangmu_head .right {
      width: 50%;
      padding-right: 2.291666rem;
      height: 100%;
      line-height: 2.75rem;
      font-size: 1.033333rem;
      padding-left: 3.166666rem;
      background: url(../img/icons/home_next_icon.png) no-repeat 95% center;
      background-size: 13%; }
      .S_sanyibao .xiangmu .xiangmu_head .right a {
        color: #e32d30; }
  .S_sanyibao .xiangmu .prod {
    background: white;
    width: 100%;
    height: 6.729166rem;
    padding: 1.8125rem 1rem; }
    .S_sanyibao .xiangmu .prod .boxx {
      display: block;
      width: 100%;
      height: 6.729166rem;
      padding: 1.8125rem 1rem;
      display: flex; }
      .S_sanyibao .xiangmu .prod .boxx .left {
        width: 32%;
        border-right: 1px solid #ccc; }
        .S_sanyibao .xiangmu .prod .boxx .left h2 {
          font-size: 1.25rem;
          color: #fe3a35;
          line-height: 1.958333rem; }
          .S_sanyibao .xiangmu .prod .boxx .left h2 span {
            font-size: 0.666666rem;
            padding-left: 0.416666rem; }
        .S_sanyibao .xiangmu .prod .boxx .left p {
          font-size: 0.791666rem;
          color: #a5a5a5; }
      .S_sanyibao .xiangmu .prod .boxx .right {
        width: 68%;
        padding-left: 0.9375rem; }
        .S_sanyibao .xiangmu .prod .boxx .right h1 {
          font-size: 0.895rem;
          height: 1.916666rem;
          line-height: 1.916666rem; }
        .S_sanyibao .xiangmu .prod .boxx .right .qixian {
          font-size: 0.791666rem;
          color: #a5a5a5; }
          .S_sanyibao .xiangmu .prod .boxx .right .qixian .sp1 {
            padding-right: 0.5625rem; }
          .S_sanyibao .xiangmu .prod .boxx .right .qixian .sp2 {
            background: #fff3c2;
            color: #f3be5c;
            padding: 0.104166rem 0.3125rem; }

.S_sanyibao .xinxishow {
  background: white;
  height: 7.4375rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5125rem; }
  .S_sanyibao .xinxishow a {
    display: block;
    width: 45.95%;
    height: 5.583333rem; }
    .S_sanyibao .xinxishow a:nth-child(1) {
      background: url(../img/icons/home_pilou_icon.png) no-repeat center center;
      background-size: 100%; }
    .S_sanyibao .xinxishow a:nth-child(2) {
      background: url(../img/icons/home_pingtai_icon.png) no-repeat center center;
      background-size: 100%; }

.S_sanyibao .guifan {
  margin-top: 0.416666rem;
  width: 100%;
  height: 2.75rem;
  background: #fff url(../img/icons/guifan.png) no-repeat center center;
  background-size: 48% 1.583333rem; }

.S_sanyibao .dibu {
  width: 100%;
  height: 5.625rem;
  background: #eff3f6 url(../img/icons/dibu.png) no-repeat center center;
  background-size: 82.4% 0.875rem; }

.S_sanyibao .dibu {
  width: 100%;
  height: 5.625rem; }

.S_sanyibao .has-footer {
  bottom: 3.125rem !important; }

.S_sanyibao .footer {
  padding: 0; }
  .S_sanyibao .footer a .iconfont {
    line-height: 2rem;
    font-size: 1.5rem; }

.S_sanyibao .C_zhitou {
  background: #f4f8fb !important; }
  .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 {
    width: 100%;
    height: 7.833333rem;
    margin-top: 0.625rem;
    background: white;
    padding: 0 0.625rem; }
    .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .title {
      width: 100%;
      height: 3.041666rem; }
      .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .title h3 {
        font-size: 0.875rem !important;
        height: 3.041666rem;
        line-height: 3.041666rem; }
    .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 4.8125rem; }
      .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_left p {
        font-size: 0.6875rem; }
      .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_left .per {
        height: 2.083333rem;
        line-height: 2.083333rem;
        font-size: 1.1875rem;
        color: #e42b2a; }
        .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_left .per span {
          font-size: 0.6875rem; }
      .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_left .p2 {
        height: 1.875rem;
        line-height: 1.875rem; }
      .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_right {
        font-size: 0.708333rem; }
        .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_right .p1 {
          display: flex;
          justify-content: space-between;
          height: 2.083333rem;
          line-height: 2.083333rem; }
          .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_right .p1 .ertian {
            color: #e1362f; }
        .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_right .jindu {
          width: 12.8125rem;
          height: 0.3125rem;
          background: url(../img/icons/bar.png); }
        .S_sanyibao .C_zhitou .zhitou_main .xiangmu1 .detail .detail_right .qian {
          height: 2.270833rem;
          line-height: 2.270833rem;
          text-align: right; }

.S_sanyibao .C_detail1 {
  padding: 0 1rem !important; }
  .S_sanyibao .C_detail1 .shouyi {
    width: 100%;
    height: 5.833333rem;
    background: url(../img/icons/bg.png) no-repeat center center; }
    .S_sanyibao .C_detail1 .shouyi .top {
      height: 5.833333rem;
      width: 100%;
      padding: 1.458333rem 1rem;
      display: flex; }
      .S_sanyibao .C_detail1 .shouyi .top .left {
        width: 30%;
        height: 100%;
        padding-right: 0.854166rem;
        border-right: 0.020833rem solid #ccc; }
        .S_sanyibao .C_detail1 .shouyi .top .left .title {
          font-size: 0.666666rem;
          color: #ffb3b0;
          height: 1.233333rem;
          line-height: 1.233333rem; }
        .S_sanyibao .C_detail1 .shouyi .top .left .percent {
          font-size: 1.666666rem !important;
          color: white; }
          .S_sanyibao .C_detail1 .shouyi .top .left .percent span {
            font-size: 0.666666rem;
            padding-left: 0.208333rem; }
      .S_sanyibao .C_detail1 .shouyi .top .right {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-around; }
        .S_sanyibao .C_detail1 .shouyi .top .right .qixian .qixian_p1 {
          font-size: 0.666666rem;
          color: #ffb3b0;
          height: 1.233333rem;
          line-height: 1.233333rem; }
        .S_sanyibao .C_detail1 .shouyi .top .right .qixian .qixian_h2 {
          font-size: 1.666666rem !important;
          color: white; }
          .S_sanyibao .C_detail1 .shouyi .top .right .qixian .qixian_h2 span {
            font-size: 0.666666rem;
            padding-left: 0.208333rem; }
        .S_sanyibao .C_detail1 .shouyi .top .right .ketou .ketou_p1 {
          font-size: 0.666666rem;
          color: #ffb3b0;
          height: 1.233333rem;
          line-height: 1.233333rem; }
        .S_sanyibao .C_detail1 .shouyi .top .right .ketou .ketou_h2 {
          font-size: 1.666666rem !important;
          color: white; }
          .S_sanyibao .C_detail1 .shouyi .top .right .ketou .ketou_h2 span {
            font-size: 0.666666rem;
            padding-left: 0.208333rem; }
  .S_sanyibao .C_detail1 .xiangmu_detail {
    padding: 0 1rem; }
    .S_sanyibao .C_detail1 .xiangmu_detail ul {
      width: 100%;
      height: 2.5rem;
      line-height: 2.5rem;
      display: flex;
      justify-content: space-between;
      font-size: 0.833333rem; }
    .S_sanyibao .C_detail1 .xiangmu_detail .main h2 {
      font-size: 1.041666rem;
      height: 2.95rem;
      line-height: 2.95rem;
      background: url(../img/icons/left.png) no-repeat left center;
      background-size: 0.229166rem 1.270833rem;
      padding-left: 1.016666rem; }
    .S_sanyibao .C_detail1 .xiangmu_detail .main table {
      font-size: 0.833333rem;
      width: 100%;
      height: 10.854166rem; }
      .S_sanyibao .C_detail1 .xiangmu_detail .main table tr {
        height: 0.833333rem;
        line-height: 0.833333rem; }
        .S_sanyibao .C_detail1 .xiangmu_detail .main table tr td {
          background-color: #f7f7f7;
          vertical-align: middle;
          padding: 0 0.875rem; }
    .S_sanyibao .C_detail1 .xiangmu_detail .main .gaishu {
      font-size: 0.666666rem;
      line-height: 1.333333rem; }
    .S_sanyibao .C_detail1 .xiangmu_detail .main .pic {
      height: 13.416666rem; }
      .S_sanyibao .C_detail1 .xiangmu_detail .main .pic ul {
        display: flex;
        flex-wrap: wrap;
        height: 13.416666rem; }
        .S_sanyibao .C_detail1 .xiangmu_detail .main .pic ul li {
          width: 33.3%;
          height: 6.958333rem !important; }
          .S_sanyibao .C_detail1 .xiangmu_detail .main .pic ul li img {
            width: 100%;
            height: 100%; }

.S_login .login_yemian .main, .S_login .register_yemian .main, .S_register .login_yemian .main, .S_register .register_yemian .main {
  width: 100%;
  margin-top: 2.4375rem;
  height: 15.208333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .S_login .login_yemian .main div, .S_login .register_yemian .main div, .S_register .login_yemian .main div, .S_register .register_yemian .main div {
    margin-top: 0.875rem;
    width: 89.33%;
    height: 3.291666rem; }
    .S_login .login_yemian .main div input, .S_login .register_yemian .main div input, .S_register .login_yemian .main div input, .S_register .register_yemian .main div input {
      padding-left: 0.816666rem;
      width: 100%;
      height: 100%;
      border: none;
      background: #f3f5f7;
      border-radius: 0.6125rem;
      background-size: 100%;
      font-size: 0.833333rem; }
  .S_login .login_yemian .main #login, .S_login .login_yemian .main #register, .S_login .register_yemian .main #login, .S_login .register_yemian .main #register, .S_register .login_yemian .main #login, .S_register .login_yemian .main #register, .S_register .register_yemian .main #login, .S_register .register_yemian .main #register {
    text-align: center;
    line-height: 3.291666rem;
    background-color: #b4292e;
    border-radius: 0.416666rem;
    color: white; }

.S_wode .self {
  width: 100%;
  height: 6.25rem; }
  .S_wode .self #yonghu {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .S_wode .self #yonghu a {
      color: white;
      width: 4.166666rem;
      display: block;
      height: 2.125rem;
      text-align: center;
      background-color: #ff4234;
      line-height: 2.125rem;
      margin-left: 1.041666rem;
      border-radius: 0.416666rem; }
  .S_wode .self #yonghu_active {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .S_wode .self #yonghu_active span {
      color: orange;
      width: 5.166666rem;
      display: block;
      height: 2.125rem;
      text-align: center;
      line-height: 2.125rem; }

.S_wode .pic_main {
  width: 100%; }
  .S_wode .pic_main .pic {
    width: 100%; }
    .S_wode .pic_main .pic img {
      width: 100%; }

.S_wode .removelogin {
  margin-top: 1.041666rem;
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: center; }
  .S_wode .removelogin a {
    display: block;
    background: #ff4234;
    width: 90%;
    color: white;
    text-align: center;
    line-height: 3.125rem;
    height: 3.125rem;
    border-radius: 0.433333rem; }

.S_faxian .lunbos {
  height: 7.895833rem; }
  .S_faxian .lunbos img {
    width: 100%;
    height: 100%; }

.S_faxian .faxian_nav {
  background: white;
  width: 100%;
  height: 5.458333rem;
  display: flex; }
  .S_faxian .faxian_nav a {
    display: block;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 0.791666rem;
    color: #868686; }
    .S_faxian .faxian_nav a i {
      display: block;
      height: 4.166666rem; }
    .S_faxian .faxian_nav a:nth-child(1) i {
      background: url(../img/icons/find_help_center_icon.png) no-repeat center center;
      background-size: 40%; }
    .S_faxian .faxian_nav a:nth-child(2) i {
      background: url(../img/icons/find_pingtai_notice_icon.png) no-repeat center center;
      background-size: 40%; }
    .S_faxian .faxian_nav a:nth-child(3) i {
      background: url(../img/icons/find_mtbd_icon.png) no-repeat center center;
      background-size: 40%; }
    .S_faxian .faxian_nav a:nth-child(4) i {
      background: url(../img/icons/find_about_wx_icon.png) no-repeat center center;
      background-size: 40%; }

.S_faxian .licai {
  margin-top: 0.416666rem;
  width: 100%;
  height: 3.333333rem; }
  .S_faxian .licai img {
    width: 100%;
    height: 100%; }

.S_faxian .newss {
  width: 100%;
  height: 7.979166rem;
  display: flex;
  background: white; }
  .S_faxian .newss .news_left {
    width: 57.3%;
    height: 100%;
    padding: 0.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .S_faxian .newss .news_left h3 {
      font-size: 0.958333rem;
      height: 1.85rem;
      line-height: 1.85rem; }
    .S_faxian .newss .news_left .bottom {
      height: 1.5625rem;
      width: 100%;
      line-height: 1.5625rem;
      display: flex; }
      .S_faxian .newss .news_left .bottom .bottom_left {
        width: 45%; }
      .S_faxian .newss .news_left .bottom .bottom_right {
        width: 55%; }
        .S_faxian .newss .news_left .bottom .bottom_right .dianzan {
          padding: 0 1.105rem;
          background: url(../img/icons/find_zan_white_icon.png) no-repeat left center;
          background-size: 40%; }
        .S_faxian .newss .news_left .bottom .bottom_right .liulan {
          padding: 0 1.105rem;
          background: url(../img/icons/find_has_see_icon.png) no-repeat left center;
          background-size: 30%; }
  .S_faxian .newss .newss_a {
    display: block;
    width: 42.7%;
    height: 100%; }
    .S_faxian .newss .newss_a .news_right {
      width: 100%;
      height: 100%;
      padding: 0.6875rem; }
      .S_faxian .newss .newss_a .news_right img {
        width: 100%;
        height: 100%; }

.licai_h {
  width: 100%;
  height: 8.304166rem; }
  .licai_h .top {
    height: 4.916666rem;
    width: 100%;
    padding: 0 0.816666rem; }
    .licai_h .top h3 {
      height: 2.25rem;
      line-height: 2.25rem;
      font-size: 1.154166rem; }
  .licai_h .bottom {
    padding: 0 0.816666rem;
    width: 100%;
    height: 3.354166rem;
    line-height: 3.354166rem;
    display: flex;
    color: #999999;
    font-size: 0.916666rem; }
    .licai_h .bottom .left {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      height: 3.354166rem;
      line-height: 3.354166rem; }
      .licai_h .bottom .left .date0 {
        width: 30%; }
      .licai_h .bottom .left .author {
        width: 50%; }
    .licai_h .bottom .right {
      width: 30%; }
      .licai_h .bottom .right .dianzan {
        padding: 0 1.105rem;
        background: url(../img/icons/find_zan_white_icon.png) no-repeat left center;
        background-size: 40%; }
      .licai_h .bottom .right .liulan {
        padding: 0 1.105rem;
        background: url(../img/icons/find_has_see_icon.png) no-repeat left center;
        background-size: 30%; }

.pic_main {
  width: 100%;
  padding: 0 0.816666rem; }
  .pic_main img {
    width: 100%; }

.qiantao .box.ng-enter {
  transform: translate3D(100%, 0, 0); }

.qiantao .box.ng-enter-active {
  transform: translate3D(0, 0, 0); }

.qiantao .box.ng-leave {
  display: none; }
