.S_sanyibao{   
    .lunboStyle{
        height: 200px;
        .box{
        width: 100%;
        height: 200px;
        img{
            width: 100%;
            height: 200px;
        }
    }
    }
    .footer{
        padding: 0;
    }
}

