<ion-view title="项目" class="C_zhitou">
	<ion-content class="zhitou_main">
		<!--下拉刷新-->
	    <ion-refresher
	   		pulling-text="释放立即刷新"
	    	on-refresh="doRefresh()" refreshing-icon="ion-load-a" refreshing-text="刷新成功~">
	 	</ion-refresher>
	 	
	 	<section class="daohang" style="width: 100%; height: 2.083333rem; background:#ccc;line-height: 2.083333rem;">
	 		<span class="daohang_left" style="padding: 0.525rem;  text-decoration: underline;" ng-click="to_zhitou()">直投</span>
	 		<span class="daohang_right" style="padding: 0.525rem; text-decoration: underline;" ng-click="to_zhaiquan()">债权</span>
	 	</section>
	 	<div ng-class="{qiantao:true}" ui-view>
	 		
	 	</div>
	</ion-content> 
	
</ion-view>
